* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $gray;
  font-family: $lato-font;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}
